/*----------------------------------------*/
/*Basic Configuartion*/
/*----------------------------------------*/

/* color: #2abb9b */
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box; 
}
html{
    font-family: 'Raleway', sans-serif;
    font-family: 
    font-weight: 400;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
}

.main-row{
    width: 1140px;
    margin: 0 auto;
}
/*----------------------------------------*/
/* Reusable Content */
/*----------------------------------------*/

/*------Headings------*/
h1{
    font-weight: 300;
    font-size: 4.5rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    color: #fff;
}
h2{
    color: rgb(47, 47, 47);
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
h3{
    color: rgb(75, 74, 74);
    font-size: 2.6rem;
    font-weight: 600;

}

.header-bar{
    width: 8rem;
    border-bottom: 3px solid #2abb9b;
    margin: 2px auto;
    margin-bottom: 8rem;
}

/*------Button------*/
.btn:link,
.bnt:visited,
input[type=submit]{
    display:inline-block;
    padding: 1rem 3rem; 
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-right: 1.5rem;
    border-radius: 8px;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #2abb9b;
    color: rgb(238, 235, 235);
    border: 1px solid #2abb9b;
    transition: all .2s;
}
.btn-outline:link,
.btn-outline:visited{
    border: 1px solid #2abb9b;
    color:#2abb9b;
}
.btn:active,
.btn:hover{
    background-color: #219179;
}
.btn-full:active,
.btn-full:hover{
    border: 1px solid #219179;
}
.btn-outline:active,
.btn-outline:hover{
    border: 1px solid #219179;
    color: #fff;
}
/*----------------------------------------*/
/* Header */
/*----------------------------------------*/
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(hero.jpg);
    background-size: cover;
    background-position: center;
    height: 99vh;
}
.hero-text-box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.text{
    color: #fff;
    font-size: 1.7rem;
    padding-bottom: 2rem;
}

.title{
    display: inline-block;
    float: left;
    font-size: 3rem;
    font-weight: 400;
    padding-top: 1.2rem;
}
.title a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.main-nav{
    float: right;
    list-style: none;
    padding: 2rem 0;
}
.main-nav li{
    display: inline-block;
    margin-left: 3.5rem;
}
.main-nav li a:link,
.main-nav li a:visited{
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    border-bottom: 2px solid transparent;
    transition: all .4s
}
.main-nav li a:active,
.main-nav li a:hover{
    border-bottom: 2px solid  #2abb9b;
    color: rgb(209, 47, 47);
}

/*----------------------------------------*/
/* About */
/*----------------------------------------*/
.section-about{
    text-align: center;
    margin-top: 10rem;
}
.section-about p{
    color: rgb(95, 95, 95);
    font-size: 1.7rem;
}
.about-content{
    margin-top: 10rem;
}
.profile-pic{
    height:200px;
    width: auto;
    padding-bottom: 2rem;
}
.profile-heading{
    color: rgb(83, 83, 83);
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.profile-text{
    color: rgb(94, 94, 94);
    font-size: 1.6rem;
    font-weight: 400;
}
/*------Progress Bar------*/
.pg-bar{
    text-align: start;
    font-size: 1.6rem;
}
.bar{
    background-color: #eee;
    height: 28px;
    margin: 0 1.5rem 1.5rem 0;
}
.fill{
    background-color: #219179;
    width: 70%;
    height: 100%;
}
.tag{
    height: 100%;
    color: #fff;
    background-color: #2abb9b;
    width: 25%;
    text-align: center;
}


/*----------------------------------------*/
/* Contact */
/*----------------------------------------*/
.section-contact{
    background-color: rgb(230, 225, 225);
    color: rgb(27, 27, 27);
}

/*----------------------------------------*/
/* Footer */
/*----------------------------------------*/

footer{
    background-color: rgb(29, 27, 27);
    color: rgb(156, 156, 156);
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 1.4rem;
    text-align: center;
}
.fab{
    margin-right: 2rem;
}